th,
td {
  border: 1px solid black;
}

table,
tr {
  border-collapse: collapse;
  width: 100%;
}

.description {
  width: 50%;
}

.rate,
.quantity {
  width: 15%;
  text-align: center;
}

.total {
  width: 20%;
  text-align: center;
}

.labour {
  font-weight: bold;
}
